* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}
#resizebtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    border: 1px solid #000;
}